<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'main', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <h3 style="color:blue">Blog On Rails</h3>

      <% if user_signed_in? %>
          Hello!
          <%= link_to current_user.name, edit_user_path(current_user.id) %>
          <%= link_to "Logout", sessions_path, method: :delete,
          data: {confirm: " Are you sure you want to log out?"}%>
      <% else %>
          <%= link_to "Login", new_session_path%>
          <%= link_to "Sign Up", new_user_path%>
      <% end %>

        <ul class="nav-container">
            <li>
              <a style="margin-right:1em;" href="/posts">Home</a>
            </li>
            <li>
              <a href="/posts/new">New Post</a>
            </li>
        </ul>
    </nav>
    <%= flash[:notice] || flash[:alert]%>
  <%= yield %>
  </body>
</html>
